.triangle::before {

    color: red;
    position: fixed;
    z-index: 99;
    border: solid;
}


.image {
    min-width: 50%;
    min-height: 60%;
    border-radius: 1rem;
    border: 1px red;
}


@media (max-width: 580px) {

  
  .image {
    display: none;
    background-color: white;
  }

  #popup-container {
    min-width: 50rem;
  }
}

@media (max-width: 770px) {

 #popup-container {

    top: 35%;
    min-width: 80%;
 } 
 
}
@media (max-width: 700px) {
    #popup-container {
        min-width: 80%;
    }
}

#popup-container {
    transform: translateX(-50%);
}
